html
  head
    link href="res/css/global.css" rel="stylesheet"
  body
    script src="bower_components/jquery/dist/jquery.js" type="text/javascript"
    script src="bower_components/react/react.min.js" type="text/javascript"
